.pic{
    height:40vh;
    width:40vw;
    border-radius: 15px;
  }
  .descrip{
    color:black;
    font-weight:bold;
    font-size:18px;
  }
  .projects-list{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding-left:40px;
    padding-bottom:20px;
  }
  .project-1{
    margin-right: 15px;
    margin-bottom:15px;
    text-align:center;
  }
  @media(max-width:500px){
    .projects-list{
      display:flex;
      flex-direction: column;
      justify-content:center;
      text-align:center;
    }
    .pic{
    height:20vh;
    width:50vw;
    border-radius: 15px;
  }
  }